<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows>
  <ng-container matColumnDef="videoId">
    <th mat-header-cell *matHeaderCellDef>影片編號</th>
    <td
      mat-cell
      *matCellDef="let element"
      (click)="
        expandedElement = expandedElement === element ? null : element;
        $event.stopPropagation()
      "
    >
      {{ element.videoId }}
    </td>
  </ng-container>
  <ng-container matColumnDef="taker">
    <th mat-header-cell *matHeaderCellDef>執行者</th>
    <td
      mat-cell
      *matCellDef="let element"
      (click)="
        expandedElement = expandedElement === element ? null : element;
        $event.stopPropagation()
      "
    >
      {{ element.execStatus }}
    </td>
  </ng-container>
  <ng-container matColumnDef="process">
    <th mat-header-cell *matHeaderCellDef>處理狀態</th>
    <td
      mat-cell
      *matCellDef="let element"
      (click)="
        expandedElement = expandedElement === element ? null : element;
        $event.stopPropagation()
      "
    >
      {{ element.execStartTime }}
    </td>
  </ng-container>
  <ng-container matColumnDef="createQueueTime">
    <th mat-header-cell *matHeaderCellDef>排程建置時間</th>
    <td
      mat-cell
      *matCellDef="let element"
      (click)="
        expandedElement = expandedElement === element ? null : element;
        $event.stopPropagation()
      "
    >
      {{ element.execEndTime }}
    </td>
  </ng-container>
  <ng-container matColumnDef="execQueueTime">
    <th mat-header-cell *matHeaderCellDef>執行時間</th>
    <td
      mat-cell
      *matCellDef="let element"
      (click)="
        expandedElement = expandedElement === element ? null : element;
        $event.stopPropagation()
      "
    >
      {{ element.uncPathname + element.filePath }}
    </td>
  </ng-container>
  <ng-container matColumnDef="nearlineFilePath">
    <th mat-header-cell *matHeaderCellDef>歸檔全路徑</th>
    <td
      mat-cell
      *matCellDef="let element"
      (click)="
        expandedElement = expandedElement === element ? null : element;
        $event.stopPropagation()
      "
    >
      {{ element.uncPathname + element.filePath }}
    </td>
  </ng-container>
  <ng-container matColumnDef="feature">
    <th mat-header-cell *matHeaderCellDef>功能</th>
    <td
      mat-cell
      *matCellDef="let element"
      (click)="
        expandedElement = expandedElement === element ? null : element;
        $event.stopPropagation()
      "
    ></td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="testFunc($event, element)"
      >
        <mat-icon *ngIf="expandedElement !== element"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon *ngIf="expandedElement === element"
          >keyboard_arrow_up</mat-icon
        >
      </button>
    </td>
  </ng-container>

  <!-- <ng-container matColumnDef="expandedDetail">
    <td
      style="padding: 0;"
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <div class="example-element-diagram">
          <div *ngFor="let item of element.archiveLogs">
            <p>作業內容 : {{ item.taskDesc }}</p>
            <p>作業時間 : {{ item.execStartTime }} ~ {{ item.execEndTime }}</p>
            <p style="display:flex;align-item: center;">
              執行狀態 :
              <mat-icon
                *ngIf="item.execStatus === 'complete'"
                style="color:green;"
                >done</mat-icon
              >
              <mat-icon *ngIf="item.execStatus === 'fail'" style="color:red;"
                >close</mat-icon
              >
            </p>
            <p
              *ngIf="item.execStatus === 'fail'"
              style="display:block;word-break: break-word;width:100%;"
            >
              錯誤訊息 : {{ item.errorMessage }}
            </p>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page of users"
></mat-paginator>
<mat-chip-listbox>
  <mat-chip style="background:green;height:20px;">Success</mat-chip>
  <mat-chip style="background:blue;height:20px;">Wait</mat-chip>
  <mat-chip style="background:red;height:20px;">Fail</mat-chip>
  <mat-chip style="background:orange;height:20px;">Process</mat-chip>
  <mat-chip style="background:gray;height:20px;">Pause</mat-chip>
</mat-chip-listbox>
<div class="example-flex-container">
  <button mat-icon-button>
    <mat-icon style="color:green;font-size:30px;width:30px;height:30px;"
      >play_circle</mat-icon
    >
  </button>
  <button mat-icon-button>
    <mat-icon style="color:red;font-size:30px;width:30px;height:30px;"
      >pause_circle</mat-icon
    >
  </button>
  <button mat-icon-button>
    <mat-icon style="color:gray;font-size:30px;width:30px;height:30px;"
      >cancel</mat-icon
    >
  </button>
</div>
